body {
    background-image: url(./img/default.jpg);
}

.bad, .norm, .big {
    transition: all 0.25s ease-in-out;
    -moz-transition: opacity 25s ease-in-out;
    -webkit-transition: all 0.25s ease-in-out;
    background-repeat: no-repeat;
    background-size: cover;
}

.bad {
    background-image: url(./img/bad.jpg);
}

.norm {
    background-image: url(./img/norm.jpg);
}

.big {
    background-image: url(./img/big.jpg);
}